<body>
    <div class="w-full flex justify-center">
        <form action="#" method="post" class="flex flex-col p-2 outline-2 outline-violet-300">
            <label for="nombreSuperHeroe" class="w-full">Nombre/Alias de héroe</label>
            <input type="text" name="nombreSuperHeroe" id="nombreSuperHeroe" class="w-full bg-sky-500/50" required minlength="3" maxlength="60">
            <br><br>
            <label for="nombreReal" class="w-full">Nombre real</label>
            <input type="text" name="nombreReal" id="nombreReal" class="w-full bg-sky-500/50" required minlength="3" maxlength="60">
            <br><br>
            <label for="edad" class="w-full">Edad</label>
            <input type="number" name="edad" id="edad" class="w-full bg-sky-500/50" required min="0">
            <br><br>
            <label for="planetaOrigen" class="w-full">Planeta de origen</label>
            <input type="text" name="planetaOrigen" id="planetaOrigen" class="w-full bg-sky-500/50">
            <br><br>
            <label for="debilidad" class="w-full">Debilidad</label>
            <input type="text" name="debilidad" id="debilidad" class="w-full bg-sky-500/50">
            <br><br>
            <div id="poderesContainer" class="w-full">
                <label for="poderes" class="w-full">Poderes</label>
                <input type="text" name="poder" id="idPoder" placeholder="ingrese un poder" class="w-full bg-sky-500/50">
                <button type="button" id="btnAgregarPoder" class="w-full bg-blue-500">Agregar poder</button>
            </div>
            <br><br>
            <div id="aliadosContainer">
                <label for="aliados">Aliados</label>
                <input type="text" name="aliado" id="idAliado" placeholder="ingrese un aliado" class="w-full bg-sky-500/50">
                <button type="button" id="btnAgregarAliado" class="w-full bg-blue-500">Agregar Aliado</button>
            </div>
            <br><br>
            <div id="enemigosContainer">
                <label for="enemigos">Enemigos</label>
                <input type="text" name="enemigo" id="idEnemigo" placeholder="ingrese un enemigo" class="w-full bg-sky-500/50">
                <button type="button" id="btnAgregarEnemigo" class="w-full bg-blue-500">Agregar Enemigo</button>
            </div>
            <br><br>
            <label for="creador">Creador</label>
            <input type="text" name="creador" id="creador" class="w-full bg-sky-500/50">
            <br><br>
            <input type="submit" value="Enviar datos" class="w-full bg-green-600">
        </form>
    </div>
    <script src="/js/formFunctions.mjs"></script>

</body>