<body>
    <!--<a href="https://fontmeme.com/fuentes/fuente-comic-balloon-new/"><img src="https://fontmeme.com/permalink/251122/0e54ec9e9ade0d8eb58d4cf18ac64221.png" alt="fuente-comic-balloon-new" border="0"></a>
    <a href="https://fontmeme.com/fuentes/fuente-comic-balloon-new/"><img src="https://fontmeme.com/permalink/251122/36f6aee68201053172f70ce88079e2ec.png" alt="fuente-comic-balloon-new" border="0"></a>
    -->

    <div class="flex flex-col" id="containerPortada">
        <img id="descripcion-divertida" src="/img/vinetaMensaje.png" alt="texto divertido de introducción" class="order-2">
        <a href="/api/heroes" id="imagen-hero" class="order-1"><img src="/img/portada.png" alt="portada de la página de incio"></a>
    </div>
</body>