<header class="w-full m-1">
        <div class="w-full flex justify-center">
            <a href="https://fontmeme.com/es/fuentes-de-comics/"><img src="https://fontmeme.com/permalink/251120/ae280401bc72ccf6bf692ad6df6805df.png" alt="fuentes-de-comics" border="0"></a>
        </div>
        
        <h1 class="text-5xl text-center m-1">
            <%= titulo %>
        </h1>
</header>