<nav class="w-full">
    <div class="navbar w-full bg-amber-300">
        <ul class="w-full">
            <li class="w-full p-1"><a href="/api/heroes" class="inline-block w-full text-center 
                hover:bg-orange-400 hover:text-white">Página principal</a></li>
            <li class="w-full p-1"><a href="/api/heroes" class="inline-block w-full text-center 
                hover:bg-orange-400 hover:text-white">Lista de héroes</a></li>
            <li class="w-full p-1"><a href="/api/heroes/agregar" class="inline-block w-full text-center 
                hover:bg-orange-400 hover:text-white">Agregar héroe</a></li>
        </ul>
    </div>
</nav>